@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-color: #000000;
background-image: url(http://www.transparenttextures.com/patterns/black-paper.png); */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  display: flex;
  justify-content: center;
  /* padding: 20px 0; */
}

#root {
  width: 100%;
  max-width: 100vw;
}

.header {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  z-index: 200;
}

.grid {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.grid__item {
  margin: 0 20px 30px;
  flex: 1 1 500px;
}

.form-group {
  display: flex !important;
  flex-direction: column !important;
}

/* ============================
          PAGINATION
============================= */
.pagination {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding: 0 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px;
}

.pagination__left,
.pagination__right,
.pagination__mid {
  padding: 30px 0;
}

.pagination li {
  display: block;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 42px;
  height: 44px;
  color: #999;
  font-size: 18px;
}

.pagination li a {
  color: #999;
  list-style: none;
  text-decoration: none;
}

.pagination li a:hover {
  border-color: #ea4c89;
  color: #ea4c89;
}

.pagination li {
  padding: 0 16px;
  max-width: 160px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-decoration: none;
  margin: 0 6px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.pagination li:hover,
.pagination li.current {
  border-color: #ea4c89;
  color: #ea4c89;
}

.pagination__mid {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.pagination__mid ul {
  padding: 0;
  margin: 0;
}

.pagination__mid li {
  display: inline-block;
}

.hidden {
  display: none !important;
}

/* ============================
            LOADER
============================= */


/* .Btn-crop {
  
  padding-right: 20px;
font-size: 14px;
line-height: 1.46666667;
border-radius: 3px;
margin: 10px 0;
cursor: pointer;

}


.Btn-text {
  background: black;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  letter-spacing: 3px;
}
.Btn-crop .icon {
  margin: 16px 0 0 ;
  font-size: 24px;
  width: 50px;
  height: 50px;
  line-height: 42px;
  box-sizing: border-box;
  border: 4px solid black;
  background: black;
  border-left: none;
  transition: 400ms transform ease-in-out;
  transform: rotateY(95deg);
  transform-origin: left;
  padding: 7px 7px
}

.Btn-crop:hover .icon
{  transform: rotateY(0deg);}

.Btn-crop
{  perspective: 200px;
  perspective-origin: calc(100% - 53px);}

.imageCapture-animation {
  animation: transform-btn 0.52s linear;
  animation-delay: 100ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}
.imageCapture {
  background: black;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  letter-spacing: 3px;
  margin: 20px 0;
  

 
}
.imageCapture-container {
  position: relative;
  bottom: 20px !important;
}
.imageCapture-content {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  letter-spacing: 1.2px;
  margin: 10px 0;
  background: #fbae11;
} */
.image-teaser {
  background-color: rgba(34, 31, 31, 0.432); 
  transform: translateY(126px);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 40%;
  border-left: 10px solid transparent;
}


.image-teaser::after {
  position: absolute;
  transform: translate(-10px, -146px);
top: 0px;
  content: "";
	width: 0;
	height: 0;
	border-bottom: 121px solid rgba(34, 31, 31, 0.432); 
	border-left: 360px solid transparent;
	margin: 25px auto 0;
}
.Btn-text {
  opacity:1 !important;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  letter-spacing: 2.13px;
  font-weight: 600;
  transform: translateY(20px);
 
}
.icon {
  transform: translate(60px, -90px);
}
@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}
@keyframes transform-btn {
  0%{
    transform: translate(-40px);
    opacity: 0;
  }
 
  100% {
    transform: translate(-0px);
    opacity: 1;
  }
}

@keyframes submit {
  to {
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -20px rgba(0,0,0,0.57);
   
    -webkit-transform: translateZ(-3px);
    transform: translateZ(-3px);
  }
  }
.ReactModalPortal {


  z-index: 200;
}

.ReactModal__Content--after-open {
  margin: auto !important;
  top: 28vh !important;
  max-width: 80vw;
  max-height: 69vh;


}

.crop {
  display: grid;


  grid-template-columns: 1fr 1fr;


}





/* .form_label {
  color: #656b6f;
  display: block;
  font-weight: 100;
  margin-bottom: 3px;
    max-width: 100%;
  text-transform: uppercase;
}
.form_group {
  clear: left;
  min-height: 50px;
  padding-bottom: 3%;
  position: relative;
  width: 96%;
}
.form_calc {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: stretch;  
} */

.list {
  margin-left: 5vw;
}
.MuiToolbar-root {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
 

}
.MuiPaper-root {
  box-shadow: none !important;
}



/*SLIDER */
html, body {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.more-down  {
  padding-top: 80px;
}
.more-down  span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
.more-down  span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.more-down  span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
.more-down  span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
 
  100% {
    opacity: 1;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}
.more-up  {
  padding-top: 80px;
}
.more-up  span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-right: 1px solid black;
  border-top: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb08 2s infinite;
  animation: sdb08 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
.more-up  span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.more-up  span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
.more-up  span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb08 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb08 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
